.price {
  background: #f2f2f2;

}

.price__visually-hidden {
  display: none;
}

.price__table-mobile {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  background: white;
  @media (min-width: 700px) {
    display: none;
  }
}

.price__background {
  margin-bottom: 61px;
}

.price__triangle-top {
  width: 100%;
  height: auto;
}

.price__table-center,
.price__table-left,
.price__table-right {
  border: 2px solid #e5e5e5;
  height: 56px;
  font-family: "opensans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  .price__content {
    margin-left: 20px;
  }
}

.price__table-title {
  background: #283645;
  color: white;
  text-align: center;
  font-family: "opensans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 7px 23px;
  span {
    font-family: "opensans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: lighter;
    text-transform: uppercase;
  }
  .price__content {
    margin: 0;
    h3 {
      font-size: 18px;
      line-height: 30px;
      margin: 14px 0 3px;
    }
  }
}

.price__table-center .price__content,
.price__table-left .price__content,
.price__table-right .price__content {
  display: none;
}

#btn-5:checked ~ .price__table-mobile .price__table-center .price__content {
  display: block;
  width: 100%;
}

#btn-4:checked ~ .price__table-mobile .price__table-left .price__content {
  display: block;
  width: 100%;
}

#btn-4:checked ~ .price__table-mobile .price__table-right {
  display: none;
}

#btn-6:checked ~ .price__table-mobile .price__table-right .price__content {
  display: block;
  width: 100%;

}

#btn-6:checked ~ .price__table-mobile .price__table-left {
  display: none;
}

.price__container {
  width: 280px;
  margin: 0 auto;
  @media (min-width: 700px) {
    width: 620px;
  }
  @media (min-width: 1200px) {
    width: 940px;
  }
}

.price__table {
  display: none;
  @media (min-width: 700px) {
    display: block;
    width: 620px;
    border-collapse: collapse;

  }
  @media (min-width: 1200px) {
    width: 940px;
  }
}

.price__table-header {
  width: 153px;
  height: 75px;
  border: 1px solid #f2f2f2;
  background: #283645;
  color: white;
  text-align: center;
  text-transform: uppercase;
  h3 {
    margin-bottom: 5px;
  }

}

.price__table-header--empty {
  display: block;
  opacity: 0;
  border: none;
}

.price__wrapper {
  @media (min-width: 700px) {
    display: none;
  }
}

.price__controls {
  @media (min-width: 700px) {
    display: none;
  }
}

.price__table-item {
  @media (min-width: 700px) {
    width: 153px;
    height: 50px;
    border: 1px solid #e5e5e5;
    background: white;
    color: #283645;
    padding-left: 15px;
  }
  @media (min-width: 1200px) {
    width: 232px;
    height: 60px;
  }
}

.price__table__controls {
  width: 61px;
  margin: 0 auto;
  padding: 25px 0;
  @media (min-width: 700px) {
    display: none;
  }
}

.price__table__controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #b5b9be;
  vertical-align: middle;
  margin-right: 10px;
  &:hover {
    background: #7e868f;
  }
  &:active {
    background: #e9ebec;
  }
  @media (min-width: 700px) {
    display: none;
  }
}

#btn-4,
#btn-5,
#btn-6 {
  display: none;
}

#btn-4:checked ~ .price__container .price__table__controls label[for="btn-4"], #btn-5:checked ~ .price__container .price__table__controls label[for="btn-5"], #btn-6:checked ~ .price__container .price__table__controls label[for="btn-6"] {
  background: white;
  border: 2px solid black;
}

.price__yes-no {
  float: right;
  margin-right: 40px;
  @media (min-width: 700px) {
    float: none;
    margin-right: 0;
    margin-left: 46px;
  }
}

.price__content-hit {
  position: relative;
}

.price__content-hit::before {
  content: " ";
  position: absolute;
  background: url("../img/bg-hit.svg") no-repeat;
  width: 73px;
  height: 73px;
  top: -14px;
  left: -7px;
}

.price__content-hit::after {
  content: "хит";
  font-size: 14px;
  position: absolute;
  top: 3px;
  left: 1px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.price__table-header-hit {
  position: relative;
}

.price__table-header-hit::before {
  content: " ";
  position: absolute;
  background: url("../img/bg-hit-tablet.svg") no-repeat;
  width: 73px;
  height: 73px;
  top: 0;
  left: 0;
}

.price__table-header-hit::after {
  content: "ХИТ";
  position: absolute;
  top: 12px;
  left: 4px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

